<header class="header">
  <div class="cb-container typeset">
    <h1>Chris <br> Brennan</h1>
    <ul class="intro">
      <li> I have a background in <span class="cb-bold">Graphic Design.</span></li>
      <li>I'm a <span class="cb-bold">learner,</span> food connoisseur &amp; an avid NBA fan.</li>
      <li>I'm self taught in <span class="cb-bold">Front-End Development.</span></li>
      <li>Currently, I' designing &amp; buidling websites for local businesses.</li>
    </ul>
    <img src="{{ "/assets/intro-pic.png" | prepend: site.baseurl }}" alt="">
    <div class="cb-button"><a href="#">Blog</a></div>

    </div>
  </div>
</header>
